<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Nawigacja do twojej starej</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">



</ion-content>

<div class=footer>
    <ion-row>
        <ion-col routerLink="/place-list">
            <div class="ion-text-center">
                <ion-icon size="large" name="location-outline"></ion-icon>
                <br> Miejsca
            </div>
        </ion-col>

        <ion-col routerLink="/events">
            <div class="ion-text-center">
                <ion-icon size="large" name="calendar-outline">></ion-icon>
                <br> Wydarzenia
            </div>
        </ion-col>

        <ion-col routerLink="/map">
            <div class="ion-text-center">
                <ion-icon size="large" name="trail-sign-outline"></ion-icon>
                <br> Trasy
            </div>
        </ion-col>



    </ion-row>
    <ion-row>
        <ion-col routerLink="/place-list">
            <div class="ion-text-center">
                <ion-icon size="large" name="headset-outline"></ion-icon>
                <br> Audioprzewodnik
            </div>
        </ion-col>

        <ion-col routerLink="/map">
            <div class="ion-text-center">
                <ion-icon size="large" name="bookmarks-outline"></ion-icon>
                <br> Planer
            </div>
        </ion-col>

        <ion-col routerLink="/scanner">
            <div class="ion-text-center">
                <ion-icon size="large" name="qr-code-outline"></ion-icon>
                <br> SkanerQR
            </div>
        </ion-col>



    </ion-row>

    <ion-row>
        <ion-col routerLink="/map">
            <div class="ion-text-center">
                <ion-icon size="large" name="navigate-outline"></ion-icon>
                <br> Mapa
            </div>
        </ion-col>

        <ion-col routerLink="/about">
            <div class="ion-text-center">
                <ion-icon size="large" name="information-outline"></ion-icon>
                <br> Informacja
            </div>
        </ion-col>

        <ion-col routerLink="/about">
            <div class="ion-text-center">
                <ion-icon size="large" name="refresh-outline"></ion-icon>
                <br> Synchronizacja
            </div>
        </ion-col>



    </ion-row>
</div>