<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareEvent()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="event" class="ion-padding">
    <h1>{{event.name}}</h1>
    <span *ngFor="let track of event?.tracks" [class]="'event-track-'+track.toLowerCase()">{{track}}</span>
    <p>{{event.description}}</p>
    <ion-text color="medium">
      {{event.timeStart}} &ndash; {{event.timeEnd}}
      <br /> {{event.location}}
    </ion-text>
  </div>

  <ion-list>
    <ion-item (click)="eventClick('watch')" button>
      <ion-label color="primary">Obserwuj</ion-label>
    </ion-item>
    <ion-item (click)="eventClick('mark as unwatched')" button>
      <ion-label color="primary">Przestań obserwować</ion-label>
    </ion-item>
    <ion-item (click)="eventClick('add to calendar')" button>
      <ion-label color="primary">Dodaj do kalendarza</ion-label>
    </ion-item>
    <ion-item (click)="eventClick('leave feedback')" button>
      <ion-label color="primary">Zostaw opinie</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
